#nav-wrapper {
    padding: 10px;
    height: 14vh;
    background-color: #1f1d34;
    color: white;
  }

  #auth-link button {
    background-color: rgb(40, 40, 40);
    width: 150px;
    border-radius: 5px;
    color: white;
    padding: 5px;
  }

.nav-link {
  text-decoration: none;
  color: black; 
}

